.edy-bgpicker-toggle-button {
    position: absolute;
    z-index: 9;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 10px 0 0 10px;
    font-size: 0;
    cursor: pointer;
    background-color: #06b;
    background-image: url("bg-picker-icon.svg");
    background-position: center center;
    border: 0;
    border-radius: 100%;
    outline: none;
    opacity: .3
}

.edy-bgpicker-toggle-button:hover {
    opacity: .8
}

.edy-bgpicker-toggle-button.active {
    opacity: 1
}

.edy-bgpicker .edy-bgpicker-inner {
    padding: 10px
}

.edy-bgpicker .edy-tb-tabs button {
    width: 100%
}

.edy-bgpicker .edy-tb-tabs > div {
    display: none;
    width: 100%;
    margin-bottom: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.edy-bgpicker-handle-color.edy-bgpicker-handle-picture .edy-tb-tabs > div {
    display: inline-block;
    width: 50%
}

.edy-bgpicker-handle-color.edy-bgpicker-handle-picture .edy-tb-tabs > div:first-child {
    padding-right: 4px
}

.edy-bgpicker-tab {
    display: none
}

.edy-bgpicker-tab.active {
    display: block
}

.edy-bgpicker-droparea {
    width: 190px;
    padding: 6px;
    margin: 0 -1px;
    color: #777;
    border: 1px dashed #1b2124;
    border-color: rgba(0, 0, 0, 0.25)
}

.edy-bgpicker-dropover .edy-bgpicker-droparea {
    color: #1b2124;
    border-color: rgba(0, 0, 0, 0.5)
}

.edy-bgpicker-image {
    position: relative;
    max-height: 300px;
    min-height: 100px;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.bg-picker-remove-image {
    position: absolute;
    top: -11px;
    right: -11px;
    display: none;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background: #fff;
    background-image: url("close.svg");
    background-position: -1px -1px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%
}

.edy-bgpicker-image.active .bg-picker-remove-image {
    display: block
}

.edy-bgpicker-notification {
    padding: 10px;
    font-size: 12px;
    line-height: 1.3;
    text-align: center
}

.edy-img-drop-area {
    position: relative;
    background-position: center center;
    background-size: cover
}

.edy-img-drop-area.edy-img-drop-area-positionable.active {
    cursor: move
}

.edy-img-drop-area .edy-img-drop-area-remove-image {
    position: absolute;
    top: -11px;
    right: -11px;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background: #fff;
    background-image: url("close.svg");
    background-position: -1px -1px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%
}

.edy-img-drop-area .edy-img-drop-area-placeholder {
    margin: 20px;
    font-size: .9em;
    text-align: center;
    opacity: .6
}
