@charset "UTF-8";
.edy-ca-drag-placeholder, .edy-fe-placeholder {
    z-index: 2;
    font-size: 0;
    line-height: 0
}

.edy-ca-drag-placeholder:before, .edy-fe-placeholder:before, .edy-ca-drag-placeholder:after, .edy-fe-placeholder:after {
    position: absolute;
    display: block;
    background: rgba(62, 167, 255, 0.75);
    content: ''
}

.edy-ca-drag-placeholder:before, .edy-fe-placeholder:before {
    top: -2px;
    width: 8px;
    height: 8px;
    font-size: 0;
    line-height: 0;
    border-radius: 50%
}

.edy-ca-drag-placeholder, .edy-fe-placeholder {
    height: 0
}

.edy-ca-drag-placeholder:after, .edy-fe-placeholder:after {
    top: 1px;
    height: 2px
}

.edy-ca-drag-placeholder:before, .edy-fe-placeholder:before {
    left: -3px
}

.edy-ca-drag-placeholder:after, .edy-fe-placeholder:after {
    right: 0;
    left: 5px
}

.edy-texteditor-placeholder {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    height: 100px;
    background: rgba(62, 167, 255, 0.75)
}

html, body {
    height: auto
}

.edy-content-element-hover .edy-tb, .edy-content-element-activated .edy-tb {
    display: block
}

.edy-ca-empty-placeholder {
    display: none
}

.edy-ca-empty .edy-ca-drag-placeholder {
    display: none
}

.edy-ca-empty .edy-ca-empty-placeholder {
    display: block
}

.edy-ca-empty .edy-ca-empty-normal {
    display: block
}

.edy-ca-empty .edy-ca-empty-over {
    display: none
}

.edy-ca-empty.edy-ca-drag-over .edy-ca-empty-normal {
    display: none
}

.edy-ca-empty.edy-ca-drag-over .edy-ca-empty-over {
    display: block
}

.edy-ca-defaultcontent .edy-ca-drag-placeholder {
    display: none
}

.edy-ca-defaultcontent .edy-ca-empty-placeholder {
    display: none
}

.edy-ca-defaultcontent .edy-partial-draghandles {
    display: none
}

.edy-partial-content-view {
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    transition: opacity 250ms
}

.edy-ca-drag-placeholder {
    position: relative;
    display: block
}

.edy-ca-drag-over .edy-ca-empty-placeholder {
    box-shadow: 0 0 5px #3ea7ff
}

.edy-ca-drag-over.edy-ca-defaultcontent {
    border-radius: 1px;
    box-shadow: 0 0 5px #3ea7ff
}

.edy-ca-drag-over.edy-ca-defaultcontent .edy-content-elements {
    opacity: .5
}

.edy-content-element, .edy-content-default {
    -webkit-transition: border-color 100ms;
    -moz-transition: border-color 100ms;
    transition: border-color 100ms;
    padding: 3px;
    margin: -3px;
    margin-bottom: -6px;
    border-color: transparent;
    border-radius: 2px
}

.edy-content-element:last-of-type, .edy-content-default:last-of-type {
    margin-bottom: -3px
}

.edy-content-element.edy-trashcan-draggable-deleting, .edy-content-default.edy-trashcan-draggable-deleting {
    padding: 2px;
    border: 1px solid rgba(247, 50, 57, 0.5)
}

.edy-partial-draghandles {
    position: relative;
    z-index: 10
}

.edy-partial-content-view {
    *zoom: 1
}

.edy-partial-content-view:before, .edy-partial-content-view:after {
    content: " ";
    display: table
}

.edy-partial-content-view:after {
    clear: both
}

.edy-content-element-draghelper {
    z-index: 10;
    max-height: 72px;
    background-color: rgba(62, 167, 255, 0.25);
    border: 1px solid rgba(62, 167, 255, 0.5)
}

.edy-content-element-draghelper.edy-trashcan-helper-deleting {
    background-color: rgba(247, 50, 57, 0.25);
    border: 1px solid rgba(247, 50, 57, 0.5)
}

.edy-partial-draghandle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    position: absolute;
    display: none;
    background-color: transparent
}

.edy-partial-draghandles-visible .edy-partial-draghandle {
    display: block
}

@media only screen and (max-width: 640px) {
    .edy-partial-draghandles-visible .edy-partial-draghandle {
        display: none
    }
}

.edy-content-element-hover {
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-ca-dragging {
    padding: 2px;
    border: 1px solid rgba(62, 167, 255, 0.5)
}

.edy-ca-dragging .edy-partial-content-view {
    opacity: .25
}

.edy-content-element-animatesheight {
    -webkit-transition: max-height 500ms, opacity 250ms !important;
    -moz-transition: max-height 500ms, opacity 250ms !important;
    transition: max-height 500ms, opacity 250ms !important;
    overflow: hidden
}

.edy-content-element-active {
    border-color: rgba(0, 0, 0, 0.33)
}

.edy-empty-bordered {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 20px;
    padding: 40px;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    font-style: bold;
    line-height: 18px;
    color: rgba(27, 33, 36, 0.33);
    text-align: center;
    border: 1px dashed rgba(27, 33, 36, 0.33)
}

.edy-empty-bordered .edy-empty-header {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px
}

.edy-empty-bordered .edy-empty-header svg {
    margin-right: 5px;
    vertical-align: -9px
}

.edy-empty-bordered a {
    font-size: 14px;
    line-height: 16px;
    color: rgba(27, 33, 36, 0.33);
    text-decoration: underline
}

.edy-content-element-hover .edy-empty-bordered {
    border-color: transparent
}

.edy-cp-view {
    position: relative;
    min-height: 1.5em
}

.edy-cp-view .edy-tb {
    display: none
}

.edy-cp-view-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.edy-cp-empty-placeholder {
    display: none
}

.edy-cp-active .edy-tb {
    display: block
}

.edy-cp-active .edy-empty-bordered {
    border-color: transparent
}

.edy-cp-active .edy-cp-empty-placeholder, .edy-cp-active .edy-contentpartial-body {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px
}

.edy-cp-active .edy-cp-empty-placeholder:hover, .edy-cp-active .edy-contentpartial-body:hover {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px
}

.edy-cp-empty .edy-tb, .edy-cp-empty .edy-cp-view-mask, .edy-cp-empty .edy-contentpartial-body {
    display: none
}

.edy-cp-empty .edy-cp-empty-placeholder {
    display: block
}

.edy-tb, .edy-tb-sticky {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    margin-top: -35px;
    margin-left: -2px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
}

.edy-tb.edy-tb-sticky-top, .edy-tb-sticky.edy-tb-sticky-top {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    transition-duration: 250ms;
    position: fixed;
    top: 0;
    margin-top: 3px
}

.edy-tb.edy-tb-sticky-top.edy-tb-autohide, .edy-tb-sticky.edy-tb-sticky-top.edy-tb-autohide {
    -webkit-transform: translateY(-75%);
    -moz-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    -o-transform: translateY(-75%);
    transform: translateY(-75%);
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    transition-delay: 1.5s
}

.edy-tb.edy-tb-sticky-top.edy-tb-autohide:hover, .edy-tb-sticky.edy-tb-sticky-top.edy-tb-autohide:hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: initial;
    -moz-transition-delay: initial;
    transition-delay: initial
}

.edy-tb-cmd {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.edy-tb-fixed {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    background: #eeeeee
}

.edy-tb-size-l .edy-tb-cmd, .edy-tb-size-l .edy-tb-act, .edy-tb-size-l .edy-tb-btn {
    width: 29px;
    height: 40px
}

.edy-tb-size-l .edy-tb-size {
    height: 40px
}

.edy-tb .edy-tb-cmd, .edy-tb .edy-tb-act, .edy-tb .edy-tb-btn, .edy-tb-size-m .edy-tb-cmd, .edy-tb-size-m .edy-tb-act, .edy-tb-size-m .edy-tb-btn {
    width: 29px;
    height: 29px
}

.edy-tb .edy-tb-size, .edy-tb-size-m .edy-tb-size {
    height: 29px
}

.edy-tb, .edy-tb-sticky, .edy-tb-fixed {
    z-index: 11000;
    font-size: 0;
    line-height: 1em
}

.edy-tb .edy-tb-cmd, .edy-tb .edy-tb-act, .edy-tb .edy-tb-btn, .edy-tb-sticky .edy-tb-cmd, .edy-tb-sticky .edy-tb-act, .edy-tb-sticky .edy-tb-btn, .edy-tb-fixed .edy-tb-cmd, .edy-tb-fixed .edy-tb-act, .edy-tb-fixed .edy-tb-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none
}

.edy-tb .edy-tb-cmd:hover, .edy-tb .edy-tb-act:hover, .edy-tb .edy-tb-btn:hover, .edy-tb-sticky .edy-tb-cmd:hover, .edy-tb-sticky .edy-tb-act:hover, .edy-tb-sticky .edy-tb-btn:hover, .edy-tb-fixed .edy-tb-cmd:hover, .edy-tb-fixed .edy-tb-act:hover, .edy-tb-fixed .edy-tb-btn:hover {
    background-color: #ccedf4
}

.edy-tb .edy-tb-cmd:disabled, .edy-tb .edy-tb-act:disabled, .edy-tb .edy-tb-btn:disabled, .edy-tb-sticky .edy-tb-cmd:disabled, .edy-tb-sticky .edy-tb-act:disabled, .edy-tb-sticky .edy-tb-btn:disabled, .edy-tb-fixed .edy-tb-cmd:disabled, .edy-tb-fixed .edy-tb-act:disabled, .edy-tb-fixed .edy-tb-btn:disabled {
    opacity: .3
}

.edy-tb .edy-tb-text, .edy-tb-sticky .edy-tb-text, .edy-tb-fixed .edy-tb-text {
    width: 100%;
    min-width: 29px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    text-align: left
}

.edy-tb a.edy-tb-cmd, .edy-tb-sticky a.edy-tb-cmd, .edy-tb-fixed a.edy-tb-cmd {
    line-height: 50px;
    border-bottom: 0;
    box-shadow: none
}

.edy-tb a.edy-tb-cmd:hover, .edy-tb-sticky a.edy-tb-cmd:hover, .edy-tb-fixed a.edy-tb-cmd:hover {
    line-height: 50px;
    border-bottom: 0;
    box-shadow: none
}

.edy-tb .edy-tb-menuitem, .edy-tb-sticky .edy-tb-menuitem, .edy-tb-fixed .edy-tb-menuitem {
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 12px;
    text-align: left
}

.edy-tb .edy-tb-g, .edy-tb-sticky .edy-tb-g, .edy-tb-fixed .edy-tb-g {
    border-left: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-tb .edy-tb-active, .edy-tb-sticky .edy-tb-active, .edy-tb-fixed .edy-tb-active {
    position: relative;
    z-index: 1
}

.edy-tb .edy-tb-active:after, .edy-tb-sticky .edy-tb-active:after, .edy-tb-fixed .edy-tb-active:after {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.1);
    content: ''
}

.edy-tb .edy-tb-paragraph, .edy-tb-sticky .edy-tb-paragraph, .edy-tb-fixed .edy-tb-paragraph {
    width: 35px
}

.edy-tb .edy-tb-size, .edy-tb-sticky .edy-tb-size, .edy-tb-fixed .edy-tb-size {
    float: left;
    text-align: center
}

.edy-tb .edy-tb-size .edy-tb-size-btn, .edy-tb-sticky .edy-tb-size .edy-tb-size-btn, .edy-tb-fixed .edy-tb-size .edy-tb-size-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 15px;
    color: #8c8c8c;
    cursor: pointer
}

.edy-tb .edy-tb-size .edy-tb-size-btn:hover, .edy-tb-sticky .edy-tb-size .edy-tb-size-btn:hover, .edy-tb-fixed .edy-tb-size .edy-tb-size-btn:hover {
    color: #bebebe
}

.edy-tb .edy-tb-size .edy-tb-size-val, .edy-tb-sticky .edy-tb-size .edy-tb-size-val, .edy-tb-fixed .edy-tb-size .edy-tb-size-val {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    float: left;
    width: 20px;
    height: 100%;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 29px;
    cursor: default;
    cursor: text;
    background: none;
    border: 0;
    outline: none
}

.edy-tb .edy-tb-menucontainer, .edy-tb-sticky .edy-tb-menucontainer, .edy-tb-fixed .edy-tb-menucontainer {
    position: relative;
    float: left
}

.edy-tb .edy-tb-stylemenu .edy-tb-dropdown-content, .edy-tb-sticky .edy-tb-stylemenu .edy-tb-dropdown-content, .edy-tb-fixed .edy-tb-stylemenu .edy-tb-dropdown-content {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 9999;
    width: 130px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)
}

.edy-tb .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-cmd, .edy-tb-sticky .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-cmd, .edy-tb-fixed .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-cmd {
    display: block;
    width: 100%;
    padding: 5px 15px;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    white-space: nowrap
}

.edy-tb .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h1, .edy-tb-sticky .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h1, .edy-tb-fixed .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h1 {
    font-size: 16px
}

.edy-tb .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h2, .edy-tb-sticky .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h2, .edy-tb-fixed .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h2 {
    font-size: 14px
}

.edy-tb .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h3, .edy-tb-sticky .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h3, .edy-tb-fixed .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-h3 {
    font-size: 14px
}

.edy-tb .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-blockquote, .edy-tb-sticky .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-blockquote, .edy-tb-fixed .edy-tb-stylemenu .edy-tb-dropdown-content .edy-tb-style-blockquote {
    padding-left: 2em
}

.edy-tb .edy-tb-tabletools.edy-tb-table-celltools, .edy-tb-sticky .edy-tb-tabletools.edy-tb-table-celltools, .edy-tb-fixed .edy-tb-tabletools.edy-tb-table-celltools {
    display: none
}

.edy-tb .edy-tb-tabletools.edy-tb-table-active, .edy-tb-sticky .edy-tb-tabletools.edy-tb-table-active, .edy-tb-fixed .edy-tb-tabletools.edy-tb-table-active {
    display: block
}

.edy-tb .edy-tb-cellstyle-tools, .edy-tb-sticky .edy-tb-cellstyle-tools, .edy-tb-fixed .edy-tb-cellstyle-tools {
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3)
}

.edy-tb .edy-tb-cellstyle-tools.edy-tb-table-active, .edy-tb-sticky .edy-tb-cellstyle-tools.edy-tb-table-active, .edy-tb-fixed .edy-tb-cellstyle-tools.edy-tb-table-active {
    display: inline-block
}

.edy-tb .edy-compact-dropdown, .edy-tb-sticky .edy-compact-dropdown, .edy-tb-fixed .edy-compact-dropdown {
    padding: 0
}

.edy-tb .edy-tb-valigncombo-btn .edy-tb-valign-btn-top, .edy-tb .edy-tb-valigncombo-btn .edy-tb-valign-btn-middle, .edy-tb .edy-tb-valigncombo-btn .edy-tb-valign-btn-bottom, .edy-tb-sticky .edy-tb-valigncombo-btn .edy-tb-valign-btn-top, .edy-tb-sticky .edy-tb-valigncombo-btn .edy-tb-valign-btn-middle, .edy-tb-sticky .edy-tb-valigncombo-btn .edy-tb-valign-btn-bottom, .edy-tb-fixed .edy-tb-valigncombo-btn .edy-tb-valign-btn-top, .edy-tb-fixed .edy-tb-valigncombo-btn .edy-tb-valign-btn-middle, .edy-tb-fixed .edy-tb-valigncombo-btn .edy-tb-valign-btn-bottom {
    display: none
}

.edy-tb .edy-tb-valigncombo-btn.edy-tb-valign-top .edy-tb-valign-btn-top, .edy-tb .edy-tb-valigncombo-btn.edy-tb-valign-middle .edy-tb-valign-btn-middle, .edy-tb .edy-tb-valigncombo-btn.edy-tb-valign-bottom .edy-tb-valign-btn-bottom, .edy-tb-sticky .edy-tb-valigncombo-btn.edy-tb-valign-top .edy-tb-valign-btn-top, .edy-tb-sticky .edy-tb-valigncombo-btn.edy-tb-valign-middle .edy-tb-valign-btn-middle, .edy-tb-sticky .edy-tb-valigncombo-btn.edy-tb-valign-bottom .edy-tb-valign-btn-bottom, .edy-tb-fixed .edy-tb-valigncombo-btn.edy-tb-valign-top .edy-tb-valign-btn-top, .edy-tb-fixed .edy-tb-valigncombo-btn.edy-tb-valign-middle .edy-tb-valign-btn-middle, .edy-tb-fixed .edy-tb-valigncombo-btn.edy-tb-valign-bottom .edy-tb-valign-btn-bottom {
    display: block
}

.edy-tb .edy-tb-color-tab.active, .edy-tb-sticky .edy-tb-color-tab.active, .edy-tb-fixed .edy-tb-color-tab.active {
    color: #f00
}

.edy-tb .edy-tb-list-indent-tools, .edy-tb-sticky .edy-tb-list-indent-tools, .edy-tb-fixed .edy-tb-list-indent-tools {
    display: none
}

.edy-tb .edy-tb-list-indent-tools.edy-tb-list-active, .edy-tb-sticky .edy-tb-list-indent-tools.edy-tb-list-active, .edy-tb-fixed .edy-tb-list-indent-tools.edy-tb-list-active {
    display: block
}

.edy-tb .edy-tb-arrow, .edy-tb-sticky .edy-tb-arrow, .edy-tb-fixed .edy-tb-arrow {
    padding-right: 15px
}

.edy-tb .edy-tb-arrow:before, .edy-tb-sticky .edy-tb-arrow:before, .edy-tb-fixed .edy-tb-arrow:before {
    -webkit-border-image: none;
    -moz-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    position: absolute;
    top: 49%;
    right: 5px;
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 3px;
    content: ''
}

.edy-tb-iconbtn {
    padding: 0 5px;
    line-height: 0;
    color: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 0;
    box-shadow: none
}

.edy-tb-iconbtn > svg {
    display: inline-block;
    line-height: 0;
    vertical-align: middle
}

.edy-tb-iconbtn > span {
    display: inline-block;
    max-height: 29px;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    vertical-align: middle
}

.edy-tb-iconbtn > svg + span {
    padding: 0 2px 0 5px
}

.edy-tb-iconbtn:hover {
    background-color: #ccedf4
}

.edy-tb-dropdown {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    left: 5px;
    z-index: 1
}

.edy-tb-dropdown .edy-tb-dropdown-content {
    *zoom: 1;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)
}

.edy-tb-dropdown .edy-tb-dropdown-content:before, .edy-tb-dropdown .edy-tb-dropdown-content:after {
    content: " ";
    display: table
}

.edy-tb-dropdown .edy-tb-dropdown-content:after {
    clear: both
}

.edy-tb-dropdown:after {
    display: block;
    height: 50px;
    content: ''
}

.edy-bar-open .edy-tb-dropdown:after {
    height: 155px
}

.edy-tb-dropdown-menu {
    min-width: 120px
}

.edy-tb-dropdown-menu .edy-tb-dropdown-content {
    border-radius: 2px
}

.edy-tb-dropdown-menu .edy-tb-dropdown-menuitem {
    display: block;
    width: 100%;
    min-width: 29px;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.75);
    text-align: left;
    cursor: pointer;
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline: none
}

.edy-tb-dropdown-menu .edy-tb-dropdown-menuitem:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.edy-tb-dropdown-menu .edy-tb-dropdown-menuitem:last-child {
    border-bottom: 0
}

.edy-tb-dropdown-menu .edy-tb-dropdown-menuitem-active {
    font-weight: 600;
    background-color: #ccedf4
}

.edy-tb-dropdown-menu .edy-tb-dropdown-menuitem-active:hover {
    background-color: #ccedf4
}

.edy-texteditor-view {
    min-height: 1em;
    outline: none
}

.edy-texteditor-view.edy-contenteditable-placeholder {
    opacity: 0.5
}

.edy-texteditor-dragover {
    outline: 2px solid rgba(62, 167, 255, 0.25);
    outline-offset: 4px
}

.edy-texteditor-active {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px
}

.edy-texteditor-active:hover {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px
}

.edy-texteditor-active table td, .edy-texteditor-active table th {
    min-width: 1em;
    outline: 1px dotted rgba(0, 0, 0, 0.1);
    outline-offset: -1px
}

.edy-texteditor-active table td.wysiwyg-tmp-selected-cell, .edy-texteditor-active table th.wysiwyg-tmp-selected-cell {
    outline: 1px solid rgba(0, 0, 0, 0.6)
}

.edy-texteditor-active table td.edy-tmp-delete-marked-cell, .edy-texteditor-active table th.edy-tmp-delete-marked-cell {
    background: rgba(233, 78, 78, 0.4)
}

.edy-texteditor-active table td.edy-tmp-addbefore-marked-cell, .edy-texteditor-active table th.edy-tmp-addbefore-marked-cell {
    box-shadow: -3px 0 0 rgba(50, 180, 0, 0.5)
}

.edy-texteditor-active table td.edy-tmp-addafter-marked-cell, .edy-texteditor-active table th.edy-tmp-addafter-marked-cell {
    box-shadow: 3px 0 0 rgba(50, 180, 0, 0.5)
}

.edy-texteditor-active table td.edy-tmp-addabove-marked-cell, .edy-texteditor-active table th.edy-tmp-addabove-marked-cell {
    box-shadow: 0 -3px 0 rgba(50, 180, 0, 0.5)
}

.edy-texteditor-active table td.edy-tmp-addbelow-marked-cell, .edy-texteditor-active table th.edy-tmp-addbelow-marked-cell {
    box-shadow: 0 3px 0 rgba(50, 180, 0, 0.5)
}

.edy-table-cell-resize-handler {
    position: absolute;
    z-index: 11000;
    width: 9px;
    height: 9px;
    margin: -5px 0 0 -5px;
    background: #eee;
    border: 1px solid #999;
    border-radius: 50%
}

.edy-table-cell-resize-handler.col-handler {
    cursor: col-resize
}

.edy-table-cell-resize-handler.row-handler {
    cursor: row-resize
}

.edy-codeedit-view textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    font-family: Inconsolata, Monaco, Monospace;
    line-height: 1.3em;
    background: transparent;
    border: 0;
    outline: none;
    resize: none
}

.edy-codeedit-view .edy-codeedit-tools {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: none;
    -moz-flex-shrink: none;
    flex-shrink: none;
    -ms-flex-positive: none;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    box-lines: single;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    -ms-flex-line-pack: center;
    padding: 7px;
    border-top: 1px solid #dfe0e2
}

.edy-codeedit-view .edy-codeedit-tools button {
    margin-left: 3px
}

@media only screen and (min-width: 641px) {
    .edy-codeedit-view textarea {
        font-size: 16px;
        line-height: 20px
    }
}

.edy-embedded-preview {
    margin: 10px
}

.edy-embedded-preview iframe, .edy-embedded-preview embed, .edy-embedded-preview object, .edy-embedded-preview img {
    max-width: 380px
}

.edy-srcedit-view {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px
}

.edy-srcedit-view textarea {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    -webkit-flex-shrink: auto;
    -moz-flex-shrink: auto;
    flex-shrink: auto;
    -ms-flex-positive: auto;
    padding: 10px
}

.edy-srcedit-view .edy-srcedit-links {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    font-size: 16px
}

.edy-srcedit-view .edy-srcedit-links > a {
    margin-right: 15px
}

.edy-srcedit-view .edy-srcedit-btns {
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-negative: 0
}

.edy-srcedit-view .edy-srcedit-cleanup, .edy-srcedit-view .edy-srcedit-format {
    color: #448bc0;
    cursor: pointer
}

.edy-srcedit-view .edy-srcedit-cleanup:hover, .edy-srcedit-view .edy-srcedit-format:hover {
    color: #35709c
}

.edy-srcedit-view .edy-srcedit-cleanup:first-child, .edy-srcedit-view .edy-srcedit-format:first-child {
    margin-left: 9px
}

.edy-srcedit-view .edy-srcedit-undo {
    line-height: 100%;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer
}

.edy-srcedit-view .edy-srcedit-undo:hover {
    color: rgba(0, 0, 0, 0.7)
}

@media only screen and (min-width: 641px) {
    .edy-srcedit-view {
        position: fixed;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px
    }

    .edy-srcedit-view textarea {
        padding: 20px
    }
}

.no-flexbox .edy-srcedit-view {
    position: fixed;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: auto;
    padding-bottom: 50px
}

.no-flexbox .edy-srcedit-view textarea {
    height: 100%
}

.no-flexbox .edy-codeedit-tools {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px
}

.no-flexbox .edy-codeedit-tools .edy-srcedit-links {
    float: left
}

.no-flexbox .edy-codeedit-tools .edy-srcedit-btns {
    float: right
}

.edy-colorpicker .edy-colorpicker-colors {
    width: 204px;
    margin: 0 -1px
}

.edy-colorpicker .edy-colorpicker-colors .remove-color {
    border: 1px solid #ccc
}

.edy-colorpicker .edy-colorpicker-colors div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 15px;
    height: 15px;
    margin: 1px;
    cursor: pointer
}

.edy-colorpicker .edy-colorpicker-colors div:nth-child(-n+24) {
    margin-bottom: 5px
}

.edy-colorpicker .edy-colorpicker-colors div:hover, .edy-colorpicker .edy-colorpicker-colors div.active {
    border: 1px solid #000
}

.edy-colorpicker .edy-tb-color-tab-content-bottom {
    *zoom: 1;
    padding-top: 7px;
    clear: both
}

.edy-colorpicker .edy-tb-color-tab-content-bottom:before, .edy-colorpicker .edy-tb-color-tab-content-bottom:after {
    content: " ";
    display: table
}

.edy-colorpicker .edy-tb-color-tab-content-bottom:after {
    clear: both
}

.edy-colorpicker .edy-tb-color-tab-content-bottom label {
    display: inline-block;
    padding: 0;
    line-height: 24px
}

.edy-colorpicker .edy-tb-color-tab-content-bottom .edy-tb-color-custom-container {
    position: relative;
    margin-bottom: -1px
}

.edy-colorpicker .edy-tb-color-tab-content-bottom input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 12px
}

.edy-colorpicker .edy-tb-color-tab-content-bottom .edy-tb-color-picked {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    display: inline-block;
    width: 24px;
    overflow: hidden;
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px
}

.edy-colorpicker .edy-tb-color-picked.active .no-color {
    display: none
}

.edy-colorpicker .edy-tb-color-alpha-slider-outer {
    display: none;
    height: 20px;
    padding: 5px 0 25px;
    cursor: pointer
}

.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider {
    height: 1px;
    background-color: #999
}

.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider .edy-tb-color-alpha-slider-inner {
    position: relative;
    height: 1px;
    margin: 0 6px;
    margin-top: 10px
}

.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider .edy-tb-color-alpha-btn {
    position: absolute;
    left: 100%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
}

.edy-colorpicker .edy-tb-color-alpha-slider-outer .edy-tb-color-alpha-slider .edy-tb-color-alpha-btn:hover {
    background-color: #eee
}

.edy-colorpicker .edy-tb-color-alpha-slider-outer.edy-slider-disabled .edy-tb-color-alpha-slider, .edy-colorpicker .edy-tb-color-alpha-slider-outer.edy-slider-disabled .edy-tb-color-alpha-text {
    opacity: 0.3
}

.edy-colorpicker .edy-tb-color-alpha-slider-outer.edy-slider-disabled .edy-tb-color-alpha-value {
    display: none
}

.edy-colorpicker.with-alpha .edy-tb-color-alpha-slider-outer {
    display: block
}

.edy-tb-color-modal .edy-tb-dropdown-content {
    padding: 10px
}

.edy-tb-color-modal .edy-tb-tabs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1px 5px
}

.edy-tb-color-modal .edy-tb-tabs div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 4px
}

.edy-tb-color-modal .edy-tb-tabs div:last-child {
    padding-right: 0;
    padding-left: 4px
}

.edy-tb-color-modal .edy-tb-tabs button {
    width: 49%
}

.edy-tb-color-modal .edy-tb-tabs button:last-child {
    margin-left: 2%
}

.edy-img-color-picker-inner {
    margin: 10px
}

.edy-img-crop-overlay {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 11000;
    padding: 5px 10px;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 0;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
}

.edy-img-crop-overlay .edy-img-crop-overlay-text {
    line-height: 24px
}

.edy-img-crop-overlay a {
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    pointer-events: auto
}

.edy-img-crop-overlay .edy-img-crop-overlay-icon {
    display: inline-block;
    padding: 2px 0;
    vertical-align: middle
}

.edy-img-crop-overlay .edy-img-crop-overlay-icon svg {
    display: block
}

.edy-img-crop-overlay.edy-crop-horizontal .edy-img-crop-overlay-icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.edy-tb-container-align span {
    display: none
}

.edy-tb-container-align.edy-left .edy-left, .edy-tb-container-align.edy-right .edy-right, .edy-tb-container-align.edy-left-block .edy-left-block, .edy-tb-container-align.edy-right-block .edy-right-block, .edy-tb-container-align.edy-center .edy-center, .edy-tb-container-align.edy-maxwidth .edy-center {
    display: inline
}

.edy-tablepicker .edy-tb-dropdown-content {
    padding: 0
}

.edy-tablepicker .edy-tablepicker-grid {
    border-right: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-tablepicker .edy-tablepicker-row {
    overflow: hidden;
    clear: both;
    white-space: nowrap
}

.edy-tablepicker .edy-tablepicker-row div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-tablepicker .edy-tablepicker-row div.edy-tablepicker-cell-active {
    color: #fff;
    background-color: #ccedf4
}

.edy-tablepicker .edy-tablepicker-size-info {
    min-height: 1.6em;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.6em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-table-add-picker, .edy-table-delete-picker {
    min-width: 15em;
    padding: 0;
    font-size: 12px;
    line-height: 1em
}

.edy-fe-additems {
    width: 170px
}

.edy-fe-additems .edy-fe-additem {
    display: block;
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #5a5a5a;
    border: 0
}

.edy-fe-additems .edy-fe-additem:hover {
    color: white;
    text-decoration: none;
    background-color: #48a8ff
}

.edy-fe-additems .edy-fe-additem .edy-icon {
    float: left;
    padding: 0 8px 0 0;
    color: rgba(0, 0, 0, 0.35)
}

.edy-fe-fs {
    width: 250px
}

.edy-fe-fs .edy-popover-content {
    padding: 10px
}

.edy-fe-fs input[type="checkbox"] {
    margin: 0
}

.edy-fe-label {
    outline: none
}

.edy-fef-bottom {
    position: absolute;
    z-index: 30;
    display: none
}

.edy-fef-bottom .edy-fef-add {
    margin-top: -8px;
    margin-left: -14px
}

.edy-fe-draghandles {
    position: relative;
    z-index: 20;
    display: none
}

.edy-fe-draghandle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    position: absolute;
    background-color: transparent
}

.edy-fe-active .edy-fe-field:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px
}

.edy-fe-active .edy-fe-field:hover .edy-fef-bottom {
    display: block
}

.edy-fe-active .edy-fe-field:hover .edy-fe-draghandles {
    display: block
}

.edy-fe-active .edy-fe-field-active {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px
}

.edy-fe-active .edy-fe-field-active .edy-fef-top {
    display: block
}

.edy-fe-active .edy-fe-field-active .edy-fef-bottom {
    display: block
}

.edy-fe-active .edy-fe-field-active:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px
}

.edy-fe-field.edy-trashcan-draggable-deleting {
    outline: 1px solid #f73239;
    outline-offset: 2px
}

.edy-fef-dragging {
    opacity: .5
}

.edy-fe-placeholder {
    position: relative
}

.edy-fe-draghelper {
    display: inline-block;
    width: 200px;
    background: rgba(62, 167, 255, 0.25);
    border: 1px solid rgba(62, 167, 255, 0.5)
}

.edy-fe-draghelper.edy-trashcan-helper-deleting {
    background-color: rgba(247, 50, 57, 0.25);
    border: 1px solid rgba(247, 50, 57, 0.5)
}

.edy-embed-container-mask {
    position: absolute;
    display: block;
    background: transparent;
    z-index: 10000
}

.edy-embed-dragproxy {
    width: 75px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    opacity: .85;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}

.edy-resize-handler {
    position: absolute;
    z-index: 10500;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    margin-left: -6px;
    font-size: 0;
    line-height: 0;
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
    text-decoration: none !important;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.45) !important;
    border-radius: 50%
}

.edy-resize-handler:hover {
    text-decoration: none !important
}

.touch .edy-resize-handler {
    width: 20px;
    height: 20px;
    margin-top: -11px;
    margin-left: -11px
}

.edy-mapeditor {
    width: 620px;
    background-color: #fff
}

.edy-mapeditor .edy-modal-x {
    top: 5px;
    right: 5px
}

.edy-mapeditor .edy-mapeditor-map {
    height: 350px;
    margin: 0 10px 10px;
    background-color: #bbb
}

.edy-mapeditor-tools {
    margin-right: 50px
}

.edy-mapeditor-tools .edy-form-group {
    display: inline-block;
    width: 100%
}

.edy-mapeditor-tools .edy-mapeditor-loader {
    float: left;
    font-size: 18px;
    line-height: 38px;
    color: #b0b0b0
}

.edy-mapeditor-tools .edy-btn {
    margin-left: 7px
}

.edy-mapeditor-map .gm-style img {
    max-width: none !important
}

.edy-mapeditor-map .gm-style label {
    display: inline;
    width: auto
}

.edy-taglist {
    position: relative;
    min-height: 1.6em;
    padding: 2px 20px 2px 2px;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6em;
    cursor: text;
    border: 1px dashed rgba(27, 33, 36, 0.33)
}

.edy-tag-holder {
    background-color: #515b64;
    background-image: -webkit-linear-gradient(#58626b, #4a545d);
    background-image: linear-gradient(#58626b, #4a545d);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: inline-block;
    padding: 3px 0 3px 8px;
    margin: 1px;
    overflow: hidden;
    font-size: .9em;
    line-height: 1.1em;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    vertical-align: top;
    cursor: default
}

.edy-tag-remove {
    display: inline-block;
    padding: 0 5px 0 1px;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    cursor: pointer
}

.edy-tag-remove:before {
    content: '×'
}

.edy-tag-input {
    height: 1.4em;
    padding: 0;
    margin: 1px 0;
    font-size: 1em;
    line-height: 1em;
    vertical-align: top;
    background: transparent;
    border: 0;
    outline: none
}

.edy-taglist-loader {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
    line-height: 2em
}

.edy-taglist-openarrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
    cursor: pointer
}

.edy-taglist-openarrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    margin: .8em 0 0 .6em;
    border-color: #000 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: ''
}

.edy-tag-suggestions {
    position: absolute;
    z-index: 30000;
    display: none;
    min-width: 100px
}

.edy-tag-suggestions .edy-tag-suggestions-inner {
    max-height: 300px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35)
}

.edy-tag-suggestions .edy-tag-suggestion {
    display: block;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.75)
}

.edy-tag-suggestions .edy-tag-suggestion:hover, .edy-tag-suggestions .edy-tag-suggestion.active {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.95);
    text-decoration: none !important;
    background-color: rgba(0, 0, 0, 0.1)
}

.edy-embededitor {
    width: 450px
}

.edy-embededitor textarea {
    height: 200px
}

.edy-embed-loader {
    margin-right: 5px;
    font-size: 20px;
    line-height: 38px
}

.edy-embed-preview {
    padding: 7px;
    line-height: 0;
    background-color: #dfe0e2
}

.edy-gallery-area {
    *zoom: 1;
    min-height: 96px
}

.edy-gallery-area:before, .edy-gallery-area:after {
    content: " ";
    display: table
}

.edy-gallery-area:after {
    clear: both
}

.edy-editmode .pswp {
    z-index: 70000
}

.edy-editmode .pswp__top-bar {
    top: 33px
}

.edy-gallery-placeholder {
    display: none
}

.edy-gallery-empty .edy-gallery-area {
    display: none
}

.edy-gallery-empty .edy-gallery-placeholder {
    display: block
}

.edy-gallery-area .edy-gallery-item {
    float: left;
    width: 96px;
    height: 96px;
    margin: 2px;
    overflow: hidden;
    object-fit: cover
}

.edy-gallery-item-placeholder {
    float: left;
    width: 96px;
    height: 96px;
    margin: 2px;
    font-size: 0;
    line-height: 0;
    background-size: cover;
    opacity: .35
}

.edy-gallery-options-panel {
    top: 0;
    left: 0;
    max-width: 400px;
    min-width: 250px;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.75)
}

.edy-gallery-options-header {
    *zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    min-height: 29px;
    font-size: 14px;
    font-weight: 600;
    line-height: 29px
}

.edy-gallery-options-header:before, .edy-gallery-options-header:after {
    content: " ";
    display: table
}

.edy-gallery-options-header:after {
    clear: both
}

.edy-gallery-options-toggle {
    position: absolute;
    display: block;
    padding: 5px 5px 4px;
    line-height: 0;
    cursor: pointer
}

.edy-gallery-options-title {
    position: absolute;
    width: 100%;
    text-align: center
}

.edy-gallery-option-item-value {
    white-space: nowrap;
    text-align: left
}

.edy-gallery-options-item {
    overflow: hidden
}

.edy-gallery-options-item > label, .edy-gallery-options-item > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 5px;
    line-height: 29px
}

.edy-gallery-options-item > label {
    width: 40%;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap
}

.edy-gallery-options-item > div {
    width: 60%
}

.edy-gallery-options-item > div input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 35px;
    padding: 0 0 0 0;
    margin: 0 0.3em 0 0;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    background: transparent;
    border: 0;
    outline: none;
    text-align: right
}

.edy-gallery-options-item .edy-gallery-option-unit {
    width: 50px;
    display: inline-block;
    text-align: left;
    position: relative
}

.edy-gallery-options-item .edy-gallery-option-unit.edy-gallery-option-unit-multi {
    width: 100px
}

.edy-gallery-options-header, .edy-gallery-options-item {
    *zoom: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-gallery-options-header:before, .edy-gallery-options-header:after, .edy-gallery-options-item:before, .edy-gallery-options-item:after {
    content: " ";
    display: table
}

.edy-gallery-options-header:after, .edy-gallery-options-item:after {
    clear: both
}

.edy-gallery-options-header:last-child, .edy-gallery-options-item:last-child {
    border-bottom: 0
}

.edy-gallery-item-tb {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 80000;
    height: 32px;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0
}

.edy-gallery-item-tb-icon {
    display: inline-block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center
}

.edy-gallery-item-tb-icon svg {
    vertical-align: middle
}

.edy-gallery-item-tb-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 40px);
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    vertical-align: middle;
    background: transparent;
    border: 0;
    outline: none
}

.edy-cbtn, .edy-cbtn > span, .edy-cbtn > div, .edy-cbtn > span > span, .edy-cbtn > span > div, .edy-cbtn > div > span, .edy-cbtn > div > div, .edy-cbtn > span:before, .edy-cbtn > div:before {
    color: #fff !important;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    opacity: 1 !important;
    display: inline !important;
    text-decoration: none !important;
    width: auto;
    height: auto;
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 14px !important;
    letter-spacing: 0 !important;
    text-indent: 0 !important;
    text-shadow: none !important;
    text-transform: none !important;
    visibility: visible !important;
    box-shadow: none !important
}

.edy-cbtn .edy-cbtn-ico {
    width: 12px !important;
    margin-right: 2px !important;
    font-size: 0 !important;
    line-height: 0 !important;
    vertical-align: -1px !important
}

.edy-cbtn > span, .edy-cbtn > div {
    position: relative !important;
    display: inline-block !important;
    white-space: nowrap !important
}

.edy-cbtn > span > span, .edy-cbtn > span > div, .edy-cbtn > div > span, .edy-cbtn > div > div {
    position: relative !important;
    display: inline-block !important;
    padding-right: 2px !important
}

.edy-cbtn > span:before, .edy-cbtn > div:before {
    -webkit-transition: background 250ms;
    -moz-transition: background 250ms;
    transition: background 250ms;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute !important;
    width: 100% !important;
    height: 21px !important;
    padding: 1px 7px 1px 7px !important;
    margin-top: -5px !important;
    margin-left: -7px !important;
    background-color: rgba(29, 33, 36, 0.5) !important;
    border-radius: 11px !important;
    content: '' !important
}

.edy-cbtn > span:hover:before, .edy-cbtn > div:hover:before {
    background-color: #1d2124 !important
}

.edy-cbtn-ico-right > div:before, .edy-cbtn-ico-right > span:before {
    margin-left: -8px !important
}

.edy-cbtn-ico-right .edy-cbtn-ico {
    margin-right: 0 !important;
    margin-left: 2px !important
}

.edy-cbtn-ico-right .edy-cbtn-ico svg {
    margin-bottom: -1px
}

.edy-element-thumb-catcher {
    position: relative;
    width: 200px;
    min-height: 150px;
    line-height: 0;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-element-thumb-catcher .edy-element-thumb-catcher-image {
    display: inline-block;
    max-width: 100%;
    max-height: 150px
}

.edy-element-thumb-catcher .edy-element-thumb-catcher-delete {
    position: absolute;
    top: -10px;
    right: -11px;
    cursor: pointer
}

.edy-element-thumb-catcher .edy-element-thumb-catcher-title {
    padding: 5px;
    overflow: hidden;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-overflow: ellipsis
}

.edy-element-thumb-catcher .edy-element-thumb-empty {
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.35);
    text-transform: uppercase
}

.edy-string-value-editor input {
    max-width: 500px;
    min-width: 210px;
    margin: 0;
    line-height: 18px
}

.edy-itempicker {
    width: 400px;
    max-width: calc(100vw - 10px)
}

.edy-itempicker .edy-itempicker-preview, .edy-itempicker .edy-itempicker-clear {
    display: none
}

.edy-itempicker .edy-itempicker-input-btns {
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px
}

.edy-itempicker .edy-itempicker-input-btns button {
    height: 100%;
    vertical-align: middle
}

.edy-itempicker .edy-itempicker-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.edy-itempicker .edy-itempicker-item .edy-itempicker-name {
    min-height: 1em;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap
}

.edy-itempicker .edy-itempicker-item .edy-itempicker-small {
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap
}

.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn {
    position: relative;
    float: right;
    height: 42px;
    padding: 10px 14px;
    margin: -5px;
    color: #bebebe;
    cursor: pointer
}

.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn svg {
    position: relative;
    z-index: 1;
    width: 18px;
    margin-top: 1px
}

.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn:before {
    -webkit-transition: right 0.1s;
    -moz-transition: right 0.1s;
    transition: right 0.1s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    position: absolute;
    top: 0;
    right: -130px;
    width: 85px;
    height: 32px;
    padding: 5px 40px 5px 0;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    background-color: #439cee;
    content: attr(title)
}

.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn:hover {
    color: #fff;
    background-color: #439cee;
    border-radius: 0
}

.edy-itempicker .edy-itempicker-item .edy-itempicker-right-btn:hover:before {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    right: 0
}

.edy-itempicker .edy-itempicker-selecteditem {
    background-color: #48a8ff
}

.edy-itempicker .edy-itempicker-selecteditem[data-type="link_to"] {
    background-color: #ff5e32
}

.edy-itempicker .edy-itempicker-selecteditem[data-type="link_to"] .edy-itempicker-right-btn:before {
    background-color: #ee4d21
}

.edy-itempicker .edy-itempicker-selecteditem .edy-itempicker-name, .edy-itempicker .edy-itempicker-selecteditem .edy-itempicker-small, .edy-itempicker .edy-itempicker-selecteditem .edy-itempicker-right-btn {
    color: #fff
}

.edy-relbuilder ul {
    padding: 0;
    list-style-type: none
}

.edy-relbuilder ul li {
    padding: 0;
    background: none
}

.edy-menu-hidden-popover {
    width: 175px
}

.edy-menu-hidden-popover a {
    display: block;
    padding: 5px 8px;
    overflow: hidden;
    font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap
}

.edy-menu-hidden-popover a:hover {
    color: rgba(0, 0, 0, 0.95);
    text-shadow: none
}

.edy-btn-removecomment {
    display: none !important;
    height: 16px !important;
    padding: 0 2px !important;
    font-size: 18px !important;
    line-height: 16px !important;
    color: rgba(0, 0, 0, 0.5) !important;
    text-shadow: 0 1px 0 #fff !important
}

.edy-site-blog-comment:hover .edy-btn-removecomment {
    display: inline !important
}
