<!DOCTYPE html>
<html class="editmode" lang="zh">
<head prefix="og: http://ogp.me/ns#">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/amazeui/assets/css/amazeui.min.css">

    <style type="text/css">
        div {
            width: 100%;
        }
    </style>
</head>

<body style="overflow-x: hidden">
<div class="am-projects" style="background:#444;height:40px">
    <div class="amz-container am-cf">
        <nav class="am-projects-nav"><a href="http://amazeui.org" class="active">Web</a> <a href="http://t.amazeui.org/"
                                                                                            target="_blank">Touch</a>
        </nav>
        <nav class="am-projects-misc"><a href="http://amazeui.github.io/cases/" target="_blank" style="font-weight:400">案例</a>
            <a href="http://ask.amazeui.org/" target="_blank"><span class="am-icon-comments-o"></span> 社区</a></nav>
    </div>
</div>
<div class="am-g">
    <div style="height: 100px" class="am-u-lg-2"></div>
    <div class="am-u-lg-8">
        <h1>媒体内容</h1>
        <script id="editor" type="text/plain" style="width:100%;height:800px;"></script>
    </div>
    <div style="height: 100px" class="am-u-lg-2"></div>
</div>

<script type="text/javascript" charset="utf-8" src="/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/amazeui/assets/js/amazeui.min.js"></script>

<script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/core.js"></script>
</body>
</html>
