<section class="content-area bringbuys-content-area">
    <div class="content-body content-area" data-search-indexing-allowed="true">
        <div class="edy-ca edy-ca-sortable edy-ca-empty " data-name="right" data-page-id="1918190" data-page-type="Page"
             data-partial-create-attribs="{&quot;name&quot;:&quot;right&quot;,&quot;language_id&quot;:459948,&quot;page_id&quot;:1918190,&quot;page_type&quot;:&quot;Page&quot;}"
             data-partial-create-path="/admin/content">
            <div class="edy-content-elements">
            </div>

            <div class="edy-ca-empty-placeholder">
                <div class="edy-empty-bordered edy-reset">
                    <div class="edy-empty-header edy-ca-empty-normal">Drag some content here</div>
                    <div class="edy-empty-header edy-ca-empty-over">Drop it here</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-area bringbuys-content-area">
    <div class="content-body content-area" data-search-indexing-allowed="true">
        <div class="edy-ca edy-ca-sortable edy-ca-empty " data-page-id="1453267346533" data-page-type="Page"
             data-partial-create-attribs="{&quot;name&quot;:&quot;right&quot;,&quot;language_id&quot;:459948,&quot;page_id&quot;:1453267346533,&quot;page_type&quot;:&quot;Page&quot;}"
             data-partial-create-path="/admin/content?page_id=1453267346533">
            <div class="edy-content-elements"></div>
            <div class="edy-ca-empty-placeholder">
                <div class="edy-empty-bordered edy-reset">
                    <div class="edy-empty-header edy-ca-empty-normal">Drag some content here</div>
                    <div class="edy-empty-header edy-ca-empty-over">Drop it here</div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    Edicy.jQuery(function ($) {
        debugger;
        var contentArea = $('.edy-ca[data-name="right"][data-page-id="1918190"][data-page-type="Page"]');
        contentArea.find('.edy-content-elements').append('<div class=\"partial edy-partial-view edy-content-element\" data-delete-path=\"/admin/content/partials/666666\" data-partial-id=\"666666\" data-relocate-path=\"/admin/content/partials/666666/relocate\" id=\"partial_666666\">\n  <div class=\"edy-partial-draghandles edy-partial-draghandles-visible\"><div class=\"edy-partial-draghandle edy-partial-draghandle-top\"><\/div><div class=\"edy-partial-draghandle edy-partial-draghandle-right\"><\/div><div class=\"edy-partial-draghandle edy-partial-draghandle-bottom\"><\/div><div class=\"edy-partial-draghandle edy-partial-draghandle-left\"><\/div><\/div>\n  <div class=\"text_partial edy-partial-content-view edy-textpartial-view edy-texteditor-view edy-accepts-assets edy-accepts-embeds\" data-content-type=\"text\" data-placeholder=\"Go on, start typing...\" data-textpartial-id=\"666666\" id=\"text_partial_666666\">\n<\/div>\n<\/div>');
        contentArea.find('.edy-content-elements').trigger('partials:create');
        new Edicy.PartialView({el: $('#partial_666666'), focus: true}).render();
    });
</script>