$margin : 20px;
$am-g-padding : 30px;
$border-height : 1px;
$am-g-widget : 50px;
$border: 2px solid #ccc;
$container-color : #F2F2F2;
$font : "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
$form-control-height : auto;

body {
    font-family: $font;
    background-color: $container-color!important;
}

.bring-control-height {
    height: auto!important;
}

.bring-container-color {
    background-color: $container-color!important;
}

.bring-nav {
    border-radius: 0px!important;
}

.bring-hide {
    display: none;
}

.bring-broder-height {
    height: $border-height;
}

.bring-content {
    height: 830px;
    overflow: auto;
}

.bring-content-clear {
    margin-top: $margin!important;
    margin-bottom: $margin!important;
    padding: $am-g-padding, $am-g-padding, $am-g-padding, $am-g-padding!important;
}

.bring-widget {
    margin-top: $am-g-widget!important;
    margin-bottom: $am-g-widget!important;
    padding: $am-g-padding, $am-g-padding, $am-g-padding, $am-g-padding!important;
}

.bring-dragable {
    position: absolute;
}

.bring-darg-anchor {
    width: 100%;
    height: 10px;
    cursor: pointer;
}

.bring-topbar {
    margin-left: 32%;
}
